body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

.section-one{
    background-image: url(images/donation1.jpg);
    background-size: cover;
    height: 720px;
}
.bannar{
    /* padding-left: 150px;
    padding-top: 80px; */
    
    width: 70%;
    margin: 0 auto;
}
.bannar-paragraph{
    text-align: center;
    padding-top: 100px;
    font-size: 70px;
    color: white;

}

.top-button{
    text-align: center;
    padding-top: 30px;
}


.donate-money{
    display: flex;
    align-content: space-around;
    margin-left: 450px;
    
}
.money-box{
    display: flex;
    height: 80px;
    width: 80px;
    background-color: rgba(222, 184, 135, 0.5);
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: large;
    font-weight: 700;
    color: gray;
    border-radius: 5px;

}

.donate-sumary{
    text-align: center;
    font-size: 50px
}
.paragraph{
    text-align: justify;
    color: gray;
}
#first-paragraph{
    width: 50%;
    color: wheat;
    text-align: justify;
    margin: 0 auto;
}
.donate-contain{
    width: 60%;
    margin: 0 auto;
}
.under-contain{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.button{
    margin-top: 10px;
    color: white;
    text-decoration: none;;
    padding: 10px 20px;
    background-color: brown;
    border-color: brown;
    border-radius: 5px;

}
.box-1 {
    background-color: #CCFFFF;
    width: 28%;
    border-radius: 20px;
    padding: 20px;
    
  
  }
  .box-2{
    background-color: #00FFCC;
    width:  28%;
    border-radius: 20px;
    padding: 20px;
  }
  .box-3 {
    background-color: #FFFFCC;
    width:  28%;
    border-radius: 20px;
    padding: 20px;
  }
  .plan-box {
    display: flex;
    justify-content: space-around;
    margin-top:80px;
    margin-bottom: 160px;
  }
  .form-button{
    background-color: rgb(218, 186, 186);
    border-radius: 5px;
    padding: 10px 20px;
    padding-right: 40px;
  }
  .add-button{
    margin-left: -10px;
  }
  
  .form-box{
    background-color: #FFFFCC;
    width: 600px;
    height: 150px;
    margin-left: 30%;
  }
  .form{
    padding-top: 7%;
    margin-left: 25%;

  }
  .footer {
    text-align: center;
    background-color: #141b58;
    color: #bb1942;
    padding: 10px;
    margin-top:80px;
  }
  small{
    color: white;
  }
